.root {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.border-pane {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.border-pane > * {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}
.vbox{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;

}
.centerScroll{
    -fx-background-color: rgba(0, 0, 0, 0.7);
}



.menu-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.menu-bar .label
{
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.menu-bar .menu >*{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.menu-item:focused, .menu-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: black;
}



.list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10px 0;
}
.list-cell:selected {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}


.titled-pane {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: transparent;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 10px;
    -fx-ma: 10px;
    -fx-font-size: 16px;
}
.titled-pane > .title {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.button {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}


.context-menu {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.context-menu .menu-item {
    -fx-background-color: transparent;
}
.context-menu .menu-item .label,
.context-menu .menu-item .text {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.context-menu .menu-item:hover,
.context-menu .menu-item:focused {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}


.context-menu .menu-item:hover .label,
.context-menu .menu-item:hover .text,
.context-menu .menu-item:focused .label,
.context-menu .menu-item:focused .text {
    -fx-text-fill: black;
}


.check-box .box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-shape: "M0 8A8 8 0 1 0 16 8A8 8 0 1 0 0 8Z";
}

.check-box:selected .box {
    -fx-background-color: green;
    -fx-border-color: black;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-shape: "M0 8A8 8 0 1 0 16 8A8 8 0 1 0 0 8Z";
}

.check-box:selected .mark {
    -fx-shape: none;
    -fx-background-color: transparent;
}